body {
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-image: radial-gradient(
    farthest-side at 60% 40%,
    rgb(80, 2, 87),
    rgb(10, 3, 36)
  );
}

.white-font {
    color: white;
}
